# Commands

We use DotNet and there for we can use the following commands:

`dotnet restore EsBot-Server/EsBot.sln`
`dotnet build EsBot-Server/EsBot.sln`
`dotnet test EsBot-Server/EsBot.sln`

To test our project

Our linter is used with `dotnet format -v diagonstic`
