
We use DotNet and there for we can use `dotnet test` in the project folder

Our linter is used with `dotnet format -v diagonstic`
